.navbar {
    border-radius: 0px !important;
}

.form-control {
    border: 1px solid #cccccc !important;
    border-radius: 0.25em;

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}
.form-control:focus {
    border-color: #cccccc !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#notificationsPopup {
    width: 450px;
    font-size: 100%;
}

#messagesPopup {
    width: 450px;
    font-size: 100%;
}

.popup {
    text-shadow: none;
    background: #fff;
    color: #000;
    border: 1px solid #666;
    border-bottom-width: 2px;
    border-radius: 2px;
    z-index: 300;
}

.notificationsList li {
    padding: 0 !important;
    line-height: 1.95em !important;
}

#notificationsPopup ul {
    padding: 0;
}

.messagesList li {
    padding: 0 !important;
    line-height: 1.95em !important;
}

#messagesPopup ul {
    padding: 0;
}

.list {
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1.5em;
    padding: 0;
    list-style-type: none;
}

.list > li {
    border: solid #e1e1e1;
    border-width: 1px 0;
    padding: 12px 0;
    margin: -1px 0;
}

.list > li:hover {
    background-color: #f6f6f6;
}

.list .controls {
    visibility: hidden;
}

.list > li:hover .controls {
    visibility: visible;
}

.popup .list > li:last-child {
    border-bottom: 0;
}

.popup h3 {
    margin: 0;
    padding: 10px;
}

.notificationsList li > p {
    display: block;
    padding: 7px 1px 1px 10px !important;
    white-space: normal;
}

.notificationsList li > a {
    display: block;
    padding: 7px 10px 7px 60px !important;
    white-space: normal;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 3px;
    background: #eee;
    text-align: center;
    font-size: 30px;
    line-height: 64px;
    color: #bbb;
    display: inline-block;
}

.avatar {
    /*border-radius: 32px;*/
}

.notificationsList li a .avatar {
    float: left;
    margin-left: -50px;
    width: 33px;
    height: 33px;
    line-height: 32px;
    margin-top: -3px;
    font-size: 23px;
}

.messagesList li a .avatar {
    float: left;
    margin-left: -50px;
    width: 30px;
    height: 35px;
    line-height: 37px;
    font-size: 21px;
    margin-top: -3px;
}

.messagesList li > p {
    display: block;
    padding: 7px 1px 1px 10px !important;
    white-space: normal;
}

.messagesList li > a {
    display: block;
    padding: 7px 10px 7px 60px !important;
    white-space: normal;
}

.status-media {
    border: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    background: white;
    padding: 1em;
}

.status-media-heading {
    color: #409dd1;
    position: relative;
    /*top: 5px; */
}

.status-media-body {
    color: #B3BAC0;
    font-size: 1.2em;
    padding: 0.5em 1em 1em 1em; }

.status-media-object {
    position: relative;
    top: 13px;
    left: 10px;
    border: 1px solid #eeeeee; }

.status-media-time {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.15em;
    color: #ccd0d3; }

.status-post {
    background: white;
    border-bottom: 1px solid #E3E3E3;
    margin-top: 1.2em;
    margin-bottom: 2em;
    padding: 0; }
.status-post textarea {
    border: none;
    border-radius: 0;
    resize: none; }
.status-post textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
.status-post .status-post-submit {
    /*border-top: 1px solid #E9E9E9;*/
    padding: 0.5em 0.4em;
    margin-bottom: 0;
    overflow: hidden;
}
    /*background: #FDFCFC; }*/
.status-post .status-post-submit .btn {
    float: right;
    /*background: #2eb1e4;*/
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-family: helvetica; }
.status-post .status-post-submit .btn:hover {
    /*background: #2790b1; }*/
}
.users {
    margin-bottom: 3em; }

.user-block {
    /*text-align: center; */
    border-right: 1px solid silver;
}

.user-block .media-object {
    margin: auto;
}
/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-breadcrumb > *:nth-child(n+2) {
    display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}
